/* Larger screen overrides */
@media (min-width: 768px) {
    #menuBtn {
        display: none;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        gap: 1rem;
        background-color: transparent;
        padding: 0;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}